<extend name="Layout/default" />
<block name="title">七海{:L('TREND')}</block>
<block name="css">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/qihai.css">
    <style type="text/css">
        *{
            letter-spacing: 2px;
        }
        html,body{
            height: 100%;
        }
        .foot{
            background: #000;
            color:#999;
        }
    </style>
</block>
<block name="content">
    <div class="main_news">
        <div class="container">
            <div class="row">
                <div class="col-md-7 left">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{:L('TREND')}</h1>
                            <h4>{:L('COMPANY_NEWS')}</h3>
                        </div>
                    </div>
                    <foreach name="company_news" item="vo">
                    <div class="row left_list">
                        <a href="{:U('news_detail', array('id'=>$vo['article_id']))}" class="wrap_click">
                            <div class="col-md-3">
                                <div class="img_bg" style="background-image: url({$vo.image});"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="time_and_tit">
                                    <div class="time">{$vo.date_added|strtotime|date="Y-m-d",###}</div>
                                    <div class="tit">{$vo.name}</div>
                                </div>
                                <p class="txt">{$vo.summary}
                                <span class="more">{:L('GET_MORE')}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    </foreach>
                    <!--
                    <div class="row left_list">
                        <a href="page_news_detail.html" class="wrap_click">
                            <div class="col-md-3">
                                <div class="img_bg" style="background-image: url(__IMG__/qihai82.png);"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="time_and_tit">
                                    <div class="time">2016-05-09</div>
                                    <div class="tit">世界上最稳健的家庭资产配置</div>
                                </div>
                                <p class="txt">环球网报道 实习记者李越英语是世界上第二大语言，亦是欧盟机构的主要工作语言之一。据新加坡《联合早报》6月28日消息
                                <span class="more">了解详情>></span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="row left_list">
                        <a href="page_news_detail.html" class="wrap_click">
                            <div class="col-md-3">
                                <div class="img_bg" style="background-image: url(__IMG__/qihai83.png);"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="time_and_tit">
                                    <div class="time">2016-05-09</div>
                                    <div class="tit">世界上最稳健的家庭资产配置</div>
                                </div>
                                <p class="txt">环球网报道 实习记者李越英语是世界上第二大语言，亦是欧盟机构的主要工作语言之一。据新加坡《联合早报》6月28日消息
                                <span class="more">了解详情>></span>
                                </p>
                            </div>
                        </a>
                    </div>-->
                </div>
                <div class="col-md-5 right">
                    <div class="row">
                        <a href="index.html?index_slider=6" class="back_btn">
                            {:L('BACK')}
                            <div class="bg_hover"></div>
                        </a>
                    </div>
                    <h4>{:L('INDUSTRY_NEWS')}</h4>
                    <ul class="right_list">
                        <foreach name="industry_news" item="vo">
                            <li><a href="{:U('news_detail', array('id'=>$vo['article_id']))}">{$vo.name}</a></li>
                        </foreach>
                        <!--<li><a href="page_news_detail.html">十三五规划：新型地产将获较大增长空间</a></li>
                        <li><a href="page_news_detail.html">环球网报道 实习记者李越英语是</a></li>
                        <li><a href="page_news_detail.html">从一个潮流，两个对流，三个需求看文旅</a></li>
                        <li><a href="page_news_detail.html">十三五规划：新型地产将获较大增长空间</a></li>
                        <li><a href="page_news_detail.html">从一个潮流，两个对流，三个需求看文旅</a></li>
                        <li><a href="page_news_detail.html">亦是欧盟机构的主要工作语言之一较大增长空间</a></li>-->
                    </ul>   
                    <img src="__IMG__/qihai84.png">
                </div>
            </div>
        </div>
    </div>
</block>

<block name="footer">
    <div class="foot">@Copyright 2016 七海资本</div>
</block>

<block name="js">

<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>

</block>